@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#nav {
  background: #798EE0;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#nav.align-right ul li {
  float: right;
}
#nav.align-center ul {
  text-align: center;
}
#nav ul li a {
  color: #88C6C9;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#nav ul li a:hover {
  color: #636162;
}
#nav ul li a:hover:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #nav ul li {
    float: none;
    display: block;
  }
  #nav ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
}